{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- FONT LINK -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
	  rel="stylesheet">

	<!-- CSS LINK -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css">
    <link rel="stylesheet" href="{% static 'portfolio/css/main.css' %}">

    {% if title %}
    	<title>{{ title }} | Instelce</title>
    {% else %}
    	<title>Instelce</title>
    {% endif %}
</head>
<body>
	<nav class="topbar">
		<a href="{% url 'portfolio:home'%}" class="topbar__brand">Instelce</a>
 
		<ul class="topbar__menu">
			<li class="topbar__link"><a class="link" href="#">Languages</a></li>
			<li class="topbar__link"><a class="link" href="#">Projets</a></li>
			<li class="topbar__link"><a class="link" href="#">Contacts</a></li>
		</ul>
	</nav>
	{% block content%}
	{% endblock content%}

	<footer class="footer">
		<a class="rounded__button" href="#">
			<img src="{% static 'portfolio/img/contact_image.png' %}" alt="Contact image">
		</a>
		<a class="rounded__button" href="#">
			<img src="{% static 'portfolio/img/contact_image.png' %}" alt="Contact image">
		</a>
		<a class="rounded__button" href="#">
			<img src="{% static 'portfolio/img/contact_image.png' %}" alt="Contact image">
		</a>
	</footer>

	<script src="{% static 'portfolio/js/script.js' %}" type="text/javascript"></script>
</body>
</html>