{% extends 'portfolio/base.html' %}

{% block content %}
<div class="home__page container">
	<div class="gradient__right">
		<h1>
			<span>Bienvenu</span>
			<span>sur mon</span>
			<span>portfolio</span>
		</h1>
	</div>
	<span class="center__line"></span>
	<div class="gradient__left">
		<p>
			Je m’appelle Celestin, mon pseudo est Instelce et j’ai 16 ans. J’adore le développement web et de jeu vidéo depuis 2 ans. Je suis actuellement en première générale, avec comme spécialité math, physique et NSI.
		</p>
	</div>
</div>
{% endblock content %}