{% extends 'portfolio/base.html' %}
{% load static %}

{% block content %}
<div class="container">
	{% if tag %}
		<div class="tag__header">
			<h2><span class="tag">{{ tag }}</span></h2>
			<a class="link" href="{% url 'portfolio:projects' %}">Reset</a>
		</div>
	{% endif %}

	<div class="projects__page">
		{% for project in projects %}
			<div class="project__card">
				<a href="#">
					<img src="{{ project.image.url }}">
				</a>
				<div class="card__body">
					<h4>{{ project.name }}</h4>
					<p>
						{{ project.description }}
					</p>
				</div>
				<div class="card__tags">
					{% for tag in project.tags.all %}
						<a class="tag" href="{% url 'portfolio:tagged' tag.slug %}">{{ tag }}</a>
					{% endfor %}
				</div>

				<a href="#" class="project__link link">Voir plus</a>
			</div>
		{% endfor %}
	</div>
</div>
{% endblock content %}