.page-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  button,
  input[type='submit'] {
    width: 100%;
  }

  small {
    font-size: 0.9rem;
    text-align: center;
    font-family: inherit;
  }
}

.field {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  //gap: .5rem;

  &:has(input.is-invalid) {
    gap: 1rem;
  }
}

// does contains input and label
.input {
  display: flex;

  position: relative;

  &:has(textarea) {
    label {
      top: 0.8rem;
      transform: translateY(0);
    }
  }

  label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    cursor: text;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.2rem;

    transition:
      transform 0.2s ease,
      top 0.2s ease;

    svg {
      stroke: rgb(var(--color-gray));
      opacity: 0.6;
    }

    &::after {
      content: '';
      background: rgb(var(--color-gray));
      width: calc(100% + 5px);
      height: 12%;
      border-radius: 5px;
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: -1;
      transform: translate(-50%, -50%);
      opacity: 0;
    }
  }
}

input,
textarea {
  width: 100%;
  outline: none;

  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

textarea {
  min-height: 4rem;
  resize: vertical;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='search'],
input[type='date'],
textarea {
  padding: 0.8rem 1rem;

  border-radius: var(--radius);
  border: 1px solid rgb(var(--color-gray));
  box-shadow: 0 3px 0 rgb(var(--color-gray));
  background: rgb(var(--color-gray));

  transition:
    border 0.2s ease,
    box-shadow 0.2s ease;

  &:hover {
    border: 1px solid rgb(var(--color-accent));
  }

  &:focus {
    border: 1px solid rgb(var(--color-accent));
    box-shadow: 0 3px 0 var(--focus-box-shadow-color, rgb(var(--color-accent)));

    & + label {
      top: 0;
      transform: translateY(-50%);

      &::after {
        opacity: 1;
      }
    }
  }

  &:not(:placeholder-shown) + label {
    top: 0;
    transform: translateY(-50%);

    &::after {
      opacity: 1;
    }
  }

  &.is-invalid {
    --focus-box-shadow-color: rgb(var(--color-red));
    border: 1px solid rgb(var(--color-red));
  }
}

.invalid-feedback {
  color: rgb(var(--color-red));
}
