@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url("./clash-display.css");

:root {
	--padding-vertical: 14%;

	--font-main: 'ClashDisplay-Variable', sans-serif;
	--font-secondary: 'Poppins', sans-serif;

	--color-blue-jeans: #35B4FF;
	--color-neutral-gray: #292A30;
	--color-raisin-black: #1D1F25;
	--color-white: #FFFFFF;
	--color-light-white: rgba(255, 255, 255, 0.6);
}

body {
	width: 100%;
	height: auto;

	position: relative;
	overflow-x: hidden !important;

	font-size: 16px;
	font-family: var(--font-main);
	font-weight: 400;
}

a {
	text-decoration: none;
	color: inherit;
}

p {
	font-family: var(--font-secondary);
	color: var(--color-light-white);
	font-weight: 200;
}

section {
	padding: 40px var(--padding-vertical);
	background: var(--color-raisin-black);
}

.section__title {
	margin-bottom: 40px;

	font-size: 2.5rem;
	font-weight: 700;
	color: var(--color-white);
	text-transform: uppercase;
}