.link {
    margin: 0;
    padding: 0 0.2rem;
    overflow: hidden;
    display: inline-block;  
    position: relative;

    pointer-events: auto;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #fff;
    font-weight: 300;
    background: $color-space-cadet;
    border: none;
    transition: color 0.3s;

    &::before {
    	position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
    }

	&::before {
		content: '';
	    background: $color-rich-black;
	    transform-origin: 100% 50%;
	    transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
	}

	span {
		display: block;
    	position: relative;
	}

	& > span,
	& > span > span {
		overflow: hidden;
	}

	&:hover {
		color: $color-white;

		&::before {
			transform: scale3d(0,1,1);
    		transform-origin: 0% 50%;
		}
		& > span > span {
			animation: MoveUpInitial 0.2s forwards, MoveUpEnd 0.2s forwards 0.2s;
		}
	}
}

.button {
	margin: 0;
	pointer-events: auto;
	cursor: pointer;
	border: none;

	position: relative;
	display: inline-block;

	font-size: inherit;
	font-family: inherit;

	span {
		z-index: 2;
		display: block;
		position: relative;
		padding: 1.5rem 3rem;
		color: $color-white-transparent;
	}
}

.button__primary {

}

.rounded__button {
	padding: 1rem;

	position: relative;
	overflow: hidden;

	display: flex;
	align-items: center;
	justify-content: center;

	background: $color-space-cadet;
	border-radius: 99px;
	box-shadow: $color-rich-black 0px 0px 20px 2px;

	transition: box-shadow 0.3s;

	&::after {
		content: "";

		width: 100%;
		height: 100%;
		position: absolute;

		transform: translate3d(0, 50%, 0);

		border-radius: 99px;
		background: rgba(255, 255, 255, 0.05);

		transition: transform 0.3s;
	}

	img {
		width: 40px;
		z-index: 2;
	}

	&:hover {
		box-shadow: $color-space-cadet 0px 0px 20px 2px;

		&::after {
			transform: translate3d(0, 0%, 0);
		}
	}
}

// Animations
@keyframes MoveUpInitial {
	100% {
	    transform: translate3d(0,-105%,0);
	}
}

@keyframes MoveUpEnd {
	0% {
	    transform: translate3d(0,100%,0);
	}

	100% {
	    transform: translate3d(0,0,0);
	}
}